
body { width:300px; margin:0; overflow: hidden; }
#move-bookmark{ width:246px }
img { width:16px; height:16px }
.panel-list-item img { margin-top:4px }
.select-with-icon img { margin-left:-4px; margin-bottom:-4px; margin-right:4px }
.icon { margin-right:8px }
.select-with-icon { margin-left:20px }
.panel-section-list { margin-top:-2px }
.panel-section-separator { margin-top:11px; margin-bottom:3px }
textarea { width:246px; resize:vertical; }
